<nav class="navbar">
<style>
    .logo {
    width: 40px;        /* control size */
    height: 40px;
    border-radius: 50%; /* makes it circular */
    object-fit: cover;  /* prevents stretching */
}
</style>
<div class="nav-left">
<img src="https://raw.githubusercontent.com/krishnapaliwal8791/mathematics-club-web-assets/refs/heads/main/1.jpg" class="logo">
<span class="brand">Mathematics Club</span>
</div>

<div class="nav-right">

<a href="https://mathematics-club-mits.web.app/">Home</a>
<a href="https://mathematics-club-mits.web.app/about">About</a>
<a href="https://mathematics-club-mits.web.app/events">Events</a>
<a href="https://mathematics-club-mits.web.app/team">Team</a>
<a href="https://mathematics-club-mits.web.app/developers">Developers</a>
<a href="https://mathematics-club-mits.web.app/gallery">Gallery</a>
<a href="https://forms.gle/UnWPWPqf9cco2cUo9" class="btn-primary">Register</a>

</div>

</nav>